@model FrontEnd.Models.TbArticulosViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Gestión</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bi bi-box-seam"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Artículos</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->

<div class="row">
    <div class="col-sm-12">

        <!--Inicio tarjeta-->
        <div class="card">
            <h6 class="card-header mb-0 text-uppercase">Ver Artículo</h6>
            <div class="card-body">
                <div class="responsive">
                    <div class="row">
                        <div class="col-md-8">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdArticulo)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IdArticulo)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.NombreArticulo)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.NombreArticulo)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Descripcion)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Cantidad)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Cantidad)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CostoArticulo)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CostoArticulo)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.PuntoReorden)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PuntoReorden)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.NumPlaca)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.NumPlaca)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.NumParte)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.NumParte)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.NumSerie)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.NumSerie)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.VidaUtil)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.VidaUtil)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.FechaFinGarantia)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.FechaFinGarantia)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Idproveedor)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TbProveedor.NombreProveedor)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Activo)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Activo)
                                </dd>
                            </dl>

                        </div>
                    </div>
                    <br />
                    <div>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.IdArticulo }, new { @class="btn btn-warning"}) |
                        <a asp-action="Index"><button class="btn btn-primary">Regresar</button></a>
                    </div>
                </div>
            </div>
            <!--Fin tarjeta-->

        </div>
    </div>
</div>
<!--end page main-->








